.App {
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-form {
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
  min-height: 10vh;
}

.search-form button {
  margin-left: 5px;
}

.table {
  padding-top: 1em;
  width: 100%;
}

.table th {
  border-bottom: 1px solid #000;
}

.table-heading {
  padding-top: 1em;
  padding-bottom: 1em;
}

.footer-text {
  font-weight: bold;
  text-align: left;
  padding-top: 1em;
  padding-bottom: 1em;
}

.table-body {
  text-align: left;
  background-color: rgb(216, 238, 231);
}

.font-link {
  font-family: "Barlow", sans-serif;
}

#number-entries {
  display: inline-block;
  margin-right: 100px;
}
#extra-search-form {
  display: inline-block;
  width: 250px;
}

#extra-search-form button {
  margin-right: 5px;
}
